# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d72e01fe24759a811082c14f7277ecfd1eee5e11fe3ad5f5fead0a56722a88ab62560721ef5becce3e79023b8b3f6bac7536b1f6f8a5d320386c175b75fabdef

test:
  secret_key_base: dcadd20a40657de76f7dfbc3bed220e223a93ab89f3bce45c092af5925a7bef2d98f0371334d9e245868ab4ff85e9e4a5bfee9d6be34288fe47550494680ba93

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
