<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit visitor</h4>
      </div>
      <form ng-submit="updateVisitorF(updateVisitor)">
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-6">
              <input type="text" ng-model="updateVisitor.first_name" class="form-control" placeholder="First Name" />
            </div>
            <div class="col-xs-6">
              <input type="text" ng-model="updateVisitor.last_name" class="form-control" placeholder="Last Name" />
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <br />
              <input type="text" ng-model="updateVisitor.reason" class="form-control" placeholder="Reason for Visit" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <input type="Submit" value="Edit" class="btn btn-primary" />
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
